@charset "UTF-8";

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
}

img {
  width: 100%;
}

h2 {
  text-transform: uppercase;
  font-size: 80px;
}
h2 + p {
  margin-top: 40px;
}

.section {
  margin-top: 100px;
}

.sentense {
  color: #3b4043;
}

// トップ

.header {
  width: 100%;
  &__top-main-visual img {
    width: 100%;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 28px 26px 28px 30px;

    &-menu-list {
      align-items: center;
      display: flex;
      font-size: 17px;
      font-weight: bold;

      &-item--contact-button a {
        border-radius: 30px;
        border: 2px solid #202020;
        padding: 12px 30px 16px;
      }
      &-item:not(:last-child) {
        margin-right: 40px;
      }
    }
  }
}

.message__inner {
  display: flex;
  max-width: 1280px;
  width: 100%;
  &-text {
    margin-left: -75px;
    padding-left: 30px;
    padding-right: 20px;
    background-color: #ffffff;
    opacity: 0.8;
    width: 640px;
  }
}

.service {
  &__inner {
    margin: 0 auto;
    width: 1160px;
  }
  &__container {
    position: relative;
    width: 100%;
    margin-top: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*列トラックを3列表示させる*/
    &::before {
      content: " ";
      position: absolute;
      left: 0;
      bottom: -45px;
      width: 83%;
      height: 100%;
      background-color: #f9f9f9;
      z-index: -1;
    }
    &-list {
      position: relative;
    }
    &-list img {
      width: 100%;
    }
    &-list:hover {
      opacity: 0.6;
    }
    &-list span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #ffffff;
      font-weight: bold;
      font-size: 24px;
      &:hover {
        color: #e6e089;
      }
    }
  }
}

.case {
  &__inner {
    margin: 0 auto;
    width: 1160px;
  }
  &__container {
    width: 100%;
    position: relative;
    margin-top: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*列トラックを3列表示させる*/
    &::before {
      content: " ";
      position: absolute;
      left: 0;
      bottom: -45px;
      width: 83%;
      height: 100%;
      background-color: #f9f9f9;
      z-index: -1;
    }
    &-list {
      position: relative;
    }
    &-list img {
      width: 100%;
    }
    &-list:hover {
      opacity: 0.6;
    }
    &-list span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #ffffff;
      font-weight: bold;
      font-size: 24px;
      &:hover {
        color: #e6e089;
      }
    }
  }
}

.contact__btn {
  margin-top: 110px;
  background-color: #e9e9e9;
  text-align: center;
  padding-top: 33px;
  padding-bottom: 44px;
  font-weight: bold;
  &-mg-none {
    margin-top: 0;
  }
}

.contact__btn a {
  display: inline-block;
  padding: 18px 112px 22px 112px;
  border-radius: 30px;
  border: 2px solid #202020;
}

.footer {
  &__top {
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    padding: 44px 26px 44px 36px;
    align-items: center;
    &-menu-list {
      display: flex;
      font-size: 17px;
      font-weight: bold;
      color: #ffffff;
      // &-item {

      // }
      &-item:not(:last-child) {
        margin-right: 40px;
      }
      &-item--contact-button a {
        border-radius: 30px;
        border: 2px solid #ffffff;
        padding: 12px 30px 16px;
      }
    }
  }
  &__bottom {
    background-color: #e9e9e9;
    color: #3b4043;
    text-align: right;
    padding: 20px 26px 16px 0;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

//会社概要

.title {
  text-align: center;
}

.title__text-company,
.title__text-case,
.title__text-service,
.title__text-recruit,
.title__text-contact {
  position: relative;
  font-size: 50px;
}

.title__text-company::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  // transform: translate(-50%,-50%);
  background: no-repeat url(../img/company_title.png) center;
  height: 93px;
  width: 100%;
  z-index: -1;
}

.title__text-case::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  // transform: translate(-50%,-50%);
  background: no-repeat url(../img/case_title.png) center;
  height: 93px;
  width: 100%;
  z-index: -1;
}
.title__text-service::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  // transform: translate(-50%,-50%);
  background: no-repeat url(../img/service_title.png) center;
  height: 93px;
  width: 100%;
  z-index: -1;
}
.title__text-recruit::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  // transform: translate(-50%,-50%);
  background: no-repeat url(../img/recruit_title.png) center;
  height: 93px;
  width: 100%;
  z-index: -1;
}
.title__text-contact::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: no-repeat url(../img/contact_title.png) center;
  height: 93px;
  width: 100%;
  z-index: -1;
}
.greeting {
  // width: 100%;
  &__inner {
    width: 960px;
    margin: 0 auto;
    &-content {
      margin-top: 40px;
      display: flex;
      &-img {
        width: 280px;
        margin-right: 108px;
      }
      &-text {
        width: 100%;
        &-sentense {
          &:first-child {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

.information {
  margin-top: 60px;
  &__inner {
    width: 960px;
    margin: 0 auto;
    &-content {
      margin-top: 40px;
      &-list {
        display: flex;
        padding: 18px 0;
        border-top: 1px solid #707070;
        &:last-child {
          border-bottom: 1px solid #707070;
        }
      }
    }
    &-list-title {
      width: 194px;
      padding-left: 10px;
    }
    &-list-text {
    }
  }
}

.service-content {
  background-color: #f9f9f9;
  &__sub-text {
    padding-top: 50px;
    margin: 0 auto;
    width: 792px;
  }
  &__inner {
    width: 1160px;
    margin: 86px auto 0;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 82px;
    row-gap: 60px;
    &-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 538px;
      background-color: #ffffff;
      &-title {
        padding: 30px 30px 0 30px;
      }
      &-text {
        margin-top: 20px;
        padding: 0 30px 30px 30px;
      }
    }
  }
}

.case-content {
  background-color: #f9f9f9;
  &__sub-text {
    padding-top: 50px;
    margin: 0 auto;
    width: 792px;
  }
  &__inner {
    width: 1160px;
    margin: 86px auto 0;
    padding-bottom: 100px;
    &-list {
      width: 100%;
      background-color: #ffffff;
      padding: 30px;
      &-bottom {
        margin-top: 24px;
      }

      &-title {
      }
      &-text {
        margin-top: 40px;
        display: flex;
      }
      &-sentense {
        width: 638px;
      }
      &-img {
        width: 436px;
      }
      &-sentense {
        margin-left: 20px;
      }
    }
    &-list:not(:first-child) {
      margin-top: 60px;
    }
  }
}

.recruit-content {
  background-color: #f9f9f9;
  margin-top: 100px;
  padding-bottom: 100px;
  &__sub-text {
    margin: 0 auto;
    max-width: 790px;
  }
  &__sentense {
    padding-top: 60px;
  }
  &__inner {
    margin: 60px auto 0;
    max-width: 956px;
    &-list {
      display: flex;
      justify-content: space-between;
      &-items {
        width: 466px;
        background-color: #ffffff;
        padding: 30px;
        &-title {
          font-size: 24px;
        }
        &-sentense {
          margin-top: 10px;
        }
      }
    }
    &-title {
      margin-top: 60px;
    }
    &-application {
      margin-top: 40px;
      &-list {
        display: flex;
        padding-top: 18px;
        padding-bottom: 18px;
        border-top: 1px solid #707070;
        &:last-child {
          border-bottom: 1px solid #707070;
        }
        &-title {
          width: 184px;
          padding-left: 10px;
        }
        &-text {
        }
      }
    }
  }
}
