@charset "UTF-8";
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
}

img {
  width: 100%;
}

h2 {
  text-transform: uppercase;
  font-size: 80px;
}

h2 + p {
  margin-top: 40px;
}

.section {
  margin-top: 100px;
}

.sentense {
  color: #3b4043;
}

.header {
  width: 100%;
}
.header__top-main-visual img {
  width: 100%;
}
.header__bottom {
  display: flex;
  justify-content: space-between;
  padding: 28px 26px 28px 30px;
}
.header__bottom-menu-list {
  align-items: center;
  display: flex;
  font-size: 17px;
  font-weight: bold;
}
.header__bottom-menu-list-item--contact-button a {
  border-radius: 30px;
  border: 2px solid #202020;
  padding: 12px 30px 16px;
}
.header__bottom-menu-list-item:not(:last-child) {
  margin-right: 40px;
}

.message__inner {
  display: flex;
  max-width: 1280px;
  width: 100%;
}
.message__inner-text {
  margin-left: -75px;
  padding-left: 30px;
  padding-right: 20px;
  background-color: #ffffff;
  opacity: 0.8;
  width: 640px;
}

.service__inner {
  margin: 0 auto;
  width: 1160px;
}
.service__container {
  position: relative;
  width: 100%;
  margin-top: 110px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /*列トラックを3列表示させる*/
}
.service__container::before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -45px;
  width: 83%;
  height: 100%;
  background-color: #f9f9f9;
  z-index: -1;
}
.service__container-list {
  position: relative;
}
.service__container-list img {
  width: 100%;
}
.service__container-list:hover {
  opacity: 0.6;
}
.service__container-list span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
}
.service__container-list span:hover {
  color: #e6e089;
}

.case__inner {
  margin: 0 auto;
  width: 1160px;
}
.case__container {
  width: 100%;
  position: relative;
  margin-top: 110px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /*列トラックを3列表示させる*/
}
.case__container::before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -45px;
  width: 83%;
  height: 100%;
  background-color: #f9f9f9;
  z-index: -1;
}
.case__container-list {
  position: relative;
}
.case__container-list img {
  width: 100%;
}
.case__container-list:hover {
  opacity: 0.6;
}
.case__container-list span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
}
.case__container-list span:hover {
  color: #e6e089;
}

.contact__btn {
  margin-top: 110px;
  background-color: #e9e9e9;
  text-align: center;
  padding-top: 33px;
  padding-bottom: 44px;
  font-weight: bold;
}
.contact__btn-mg-none {
  margin-top: 0;
}

.contact__btn a {
  display: inline-block;
  padding: 18px 112px 22px 112px;
  border-radius: 30px;
  border: 2px solid #202020;
}

.footer__top {
  background-color: #202020;
  display: flex;
  justify-content: space-between;
  padding: 44px 26px 44px 36px;
  align-items: center;
}
.footer__top-menu-list {
  display: flex;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
}
.footer__top-menu-list-item:not(:last-child) {
  margin-right: 40px;
}
.footer__top-menu-list-item--contact-button a {
  border-radius: 30px;
  border: 2px solid #ffffff;
  padding: 12px 30px 16px;
}
.footer__bottom {
  background-color: #e9e9e9;
  color: #3b4043;
  text-align: right;
  padding: 20px 26px 16px 0;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
.title {
  text-align: center;
}

.title__text-company,
.title__text-case,
.title__text-service,
.title__text-recruit,
.title__text-contact {
  position: relative;
  font-size: 50px;
}

.title__text-company::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: no-repeat url(../img/company_title.png) center;
  height: 93px;
  width: 100%;
  z-index: -1;
}

.title__text-case::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: no-repeat url(../img/case_title.png) center;
  height: 93px;
  width: 100%;
  z-index: -1;
}

.title__text-service::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: no-repeat url(../img/service_title.png) center;
  height: 93px;
  width: 100%;
  z-index: -1;
}

.title__text-recruit::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: no-repeat url(../img/recruit_title.png) center;
  height: 93px;
  width: 100%;
  z-index: -1;
}

.title__text-contact::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: no-repeat url(../img/contact_title.png) center;
  height: 93px;
  width: 100%;
  z-index: -1;
}

.greeting__inner {
  width: 960px;
  margin: 0 auto;
}
.greeting__inner-content {
  margin-top: 40px;
  display: flex;
}
.greeting__inner-content-img {
  width: 280px;
  margin-right: 108px;
}
.greeting__inner-content-text {
  width: 100%;
}
.greeting__inner-content-text-sentense:first-child {
  margin-bottom: 30px;
}

.information {
  margin-top: 60px;
}
.information__inner {
  width: 960px;
  margin: 0 auto;
}
.information__inner-content {
  margin-top: 40px;
}
.information__inner-content-list {
  display: flex;
  padding: 18px 0;
  border-top: 1px solid #707070;
}
.information__inner-content-list:last-child {
  border-bottom: 1px solid #707070;
}
.information__inner-list-title {
  width: 194px;
  padding-left: 10px;
}
.service-content {
  background-color: #f9f9f9;
}
.service-content__sub-text {
  padding-top: 50px;
  margin: 0 auto;
  width: 792px;
}
.service-content__inner {
  width: 1160px;
  margin: 86px auto 0;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 82px;
       column-gap: 82px;
  row-gap: 60px;
}
.service-content__inner-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 538px;
  background-color: #ffffff;
}
.service-content__inner-list-title {
  padding: 30px 30px 0 30px;
}
.service-content__inner-list-text {
  margin-top: 20px;
  padding: 0 30px 30px 30px;
}

.case-content {
  background-color: #f9f9f9;
}
.case-content__sub-text {
  padding-top: 50px;
  margin: 0 auto;
  width: 792px;
}
.case-content__inner {
  width: 1160px;
  margin: 86px auto 0;
  padding-bottom: 100px;
}
.case-content__inner-list {
  width: 100%;
  background-color: #ffffff;
  padding: 30px;
}
.case-content__inner-list-bottom {
  margin-top: 24px;
}
.case-content__inner-list-text {
  margin-top: 40px;
  display: flex;
}
.case-content__inner-list-sentense {
  width: 638px;
}
.case-content__inner-list-img {
  width: 436px;
}
.case-content__inner-list-sentense {
  margin-left: 20px;
}
.case-content__inner-list:not(:first-child) {
  margin-top: 60px;
}

.recruit-content {
  background-color: #f9f9f9;
  margin-top: 100px;
  padding-bottom: 100px;
}
.recruit-content__sub-text {
  margin: 0 auto;
  max-width: 790px;
}
.recruit-content__sentense {
  padding-top: 60px;
}
.recruit-content__inner {
  margin: 60px auto 0;
  max-width: 956px;
}
.recruit-content__inner-list {
  display: flex;
  justify-content: space-between;
}
.recruit-content__inner-list-items {
  width: 466px;
  background-color: #ffffff;
  padding: 30px;
}
.recruit-content__inner-list-items-title {
  font-size: 24px;
}
.recruit-content__inner-list-items-sentense {
  margin-top: 10px;
}
.recruit-content__inner-title {
  margin-top: 60px;
}
.recruit-content__inner-application {
  margin-top: 40px;
}
.recruit-content__inner-application-list {
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
  border-top: 1px solid #707070;
}
.recruit-content__inner-application-list:last-child {
  border-bottom: 1px solid #707070;
}
.recruit-content__inner-application-list-title {
  width: 184px;
  padding-left: 10px;
}
.contact-content {
  background-color: #f9f9f9;
  margin-top: 100px;
  padding-bottom: 100px;
}
.contact-content__sub-text {
  margin: 0 auto;
  max-width: 790px;
}
.contact-content__sentense {
  padding-top: 60px;
}
.contact-content__inner {
  margin: 60px auto 0;
  max-width: 752px;
}/*# sourceMappingURL=style.css.map */